<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.crazyandroid">

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ExpandedListViewActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".HandlerActivity" />
        <activity android:name=".ClipDrawableActivity" />
        <activity android:name=".MenuResActivity" />
        <activity android:name=".DoubleBufferDrawActivity" />
        <activity android:name=".MoveBackgroundActivity" />
        <activity android:name=".SQLiteActivity" />
        <activity
            android:name=".ConfigurationActivity"
            android:configChanges="keyboard|keyboardHidden" />

        <activity android:name="com.main.contentprovider.ContentProviderActivity"></activity>

        <!--注册内容提供器-->
        <provider
            android:authorities="com.main.contentprovider"
            android:name="com.main.contentprovider.MyContentProvider"
            android:enabled="true"
            android:exported="true">

        </provider>

    </application>

</manifest>